# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
.coverage*
.pytest_cache/
.mypy_cache/
.venv/
venv/
.env
.env.*

# SQLite
coffee.db
*.sqlite3
instance/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
